<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create Article</title>
  </head>
  <body>
    <h1>Create New Article</h1>

    <!-- Display error message if present -->
    <div th:if="${error}" style="color: red">
      <p th:text="${error}"></p>
    </div>

    <form
      action="#"
      th:action="@{/api/create}"
      th:object="${article}"
      method="post"
    >
      <label for="title">Title:</label>
      <input
        type="text"
        id="title"
        th:field="*{title}"
        required="required"
        maxlength="50"
      /><br />

      <label for="slug">Slug:</label>
      <input
        type="text"
        id="slug"
        th:field="*{slug}"
        required="required"
        maxlength="50"
      /><br />

      <label for="content">Content:</label>
      <textarea
        id="content"
        th:field="*{content}"
        required="required"
      ></textarea
      ><br />

      <input type="submit" value="Create Article" />
    </form>
    <a href="#" th:href="@{/articles}">Back to Article List</a>
  </body>
</html>
